/* start variables */
:root {
    --main-color: #e4002b;
    --box-color: #1c1816;
    --text-color: beige;
}

/* end variables */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: "work sans", sans-serif;
    background-color: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

.nut .container .special-heading {
    width: fit-content;
    padding: 20px 0px;
}

.nut .container .special-heading h2 {
    font-weight: 800;
    margin-bottom: 5px;
}

.nut .container .special-heading hr {
    width: 30%;
    border: 1px solid var(--main-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nut .container .special-heading h2:hover + hr {
    width: 100%;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* start header */
.header {
    padding: 10px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .container::after {
    content: '';
    height: 1px;
    width: calc(100% - 40px);
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
}

.header .container .logo {
    color: var(--main-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header .container .links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .container .links .burg {
    font-size: 30px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

@media (min-width:768px) {
    .header .container .links .burg {
        display: none;
    }
}

.header .container .links .ul-header {
    display: flex;
}

@media (max-width:767px) {
    .header .container .links .ul-header {
        display: none;
    }

    .header .container .links .burg:hover+.ul-header {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 20px;
        z-index: 2;
        width: calc(100% - 40px);
        background-color: rgb(15, 15, 15);
        box-shadow: 2px 3px 10px rgb(46, 46, 44);
    }

    .header .container .links .ul-header li {
        padding: 20px;
    }

    .header .container .links .ul-header li a:hover {
        margin-left: 5px;
    }

}


.header .container .links .ul-header li a {
    padding: 15px;
    color: var(--text-color);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.header .container .links .ul-header li a:hover,
.header .container .links .burg:hover {
    color: var(--main-color);
}

.header .container .links .login {
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: 2px 2px 10px var(--text-color) inset;
}

/* end header */


/* Start login */

.login-fo {
    padding: 40px;
}

.login-fo .container {
    background-color: #1c1816;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-fo .container .imag-chef {
    width: 250px;
}

.login-fo .container .collect .phon  {
    background-color: #262221;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    margin-bottom: 20px;
}

.login-fo .container .collect .phon::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

.login-fo .container .collect .phon label {
    font-size: 14px;
}


.login-fo .container .collect .phon input {
    outline: none;
    border: none;
    padding: 4px;
    background-color: #262221;
    border-left: 2px solid var(--text-color);
    color: var(--text-color);
    margin-top: 3px;
    margin-left: 4px;
}

.login-fo .container .collect .phon .ooo {
    display: flex;
    align-items: center;
}

.login-fo .container .collect .submit {
    width: 100%;
    padding: 5px;
    color: var(--text-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.login-fo .container .collect .submit:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

.login-fo .container .collect .loginwith {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    color: var(--text-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.login-fo .container .collect .loginwith a {
    color: var(--text-color);
}

/* End login */